
.icon-git:before { content: '\e800'; } /* '' */
.icon-paypal:before { content: '\e801'; } /* '' */
.icon-linkedin-squared:before { content: '\e802'; } /* '' */
.icon-simplybuilt:before { content: '\e803'; } /* '' */
.icon-soundcloud:before { content: '\e804'; } /* '' */
.icon-tumblr:before { content: '\e805'; } /* '' */
.icon-tumblr-squared:before { content: '\e806'; } /* '' */
.icon-jsfiddle:before { content: '\e807'; } /* '' */
.icon-sellsy:before { content: '\e808'; } /* '' */
.icon-mail:before { content: '\e809'; } /* '' */
.icon-note-beamed:before { content: '\e80a'; } /* '' */
.icon-note:before { content: '\e80b'; } /* '' */
.icon-user-add:before { content: '\e80c'; } /* '' */
.icon-users:before { content: '\e80d'; } /* '' */
.icon-camera:before { content: '\e80e'; } /* '' */
.icon-picture:before { content: '\e80f'; } /* '' */
.icon-home:before { content: '\e810'; } /* '' */
.icon-chart-pie:before { content: '\e811'; } /* '' */
.icon-chart-line:before { content: '\e812'; } /* '' */
.icon-chart-bar:before { content: '\e813'; } /* '' */
.icon-chart-area:before { content: '\e814'; } /* '' */
.icon-train:before { content: '\e815'; } /* '' */
.icon-subway:before { content: '\e816'; } /* '' */
.icon-ship:before { content: '\e817'; } /* '' */
.icon-money:before { content: '\e818'; } /* '' */
.icon-euro:before { content: '\e819'; } /* '' */
.icon-pound:before { content: '\e81a'; } /* '' */
.icon-dollar:before { content: '\e81b'; } /* '' */
.icon-credit-card:before { content: '\e81c'; } /* '' */
.icon-floppy:before { content: '\e81d'; } /* '' */
.icon-folder-open-empty:before { content: '\e81e'; } /* '' */
.icon-home-1:before { content: '\e81f'; } /* '' */
.icon-mail-alt:before { content: '\e820'; } /* '' */
.icon-mail-1:before { content: '\e821'; } /* '' */
.icon-mail-squared:before { content: '\e822'; } /* '' */
.icon-music:before { content: '\e823'; } /* '' */
.icon-picture-1:before { content: '\e824'; } /* '' */
.icon-spin3:before { content: '\e825'; } /* '' */
.icon-cc-paypal:before { content: '\e826'; } /* '' */
.icon-recycle:before { content: '\e827'; } /* '' */
.icon-graduation-cap:before { content: '\e828'; } /* '' */
.icon-heartbeat:before { content: '\e829'; } /* '' */
.icon-food:before { content: '\e82a'; } /* '' */
.icon-coffee:before { content: '\e82b'; } /* '' */
.icon-sitemap:before { content: '\e82c'; } /* '' */
.icon-sort-name-up:before { content: '\e82d'; } /* '' */
.icon-sort-name-down:before { content: '\e82e'; } /* '' */
.icon-sort-number-up:before { content: '\e82f'; } /* '' */
.icon-sort-number-down:before { content: '\e830'; } /* '' */
.icon-sort-alt-down:before { content: '\e831'; } /* '' */
.icon-sort-alt-up:before { content: '\e832'; } /* '' */
.icon-reddit:before { content: '\e833'; } /* '' */
.icon-reddit-squared:before { content: '\e834'; } /* '' */
.icon-file-image:before { content: '\e835'; } /* '' */
.icon-file-pdf:before { content: '\e836'; } /* '' */
.icon-doc-text-inv:before { content: '\e837'; } /* '' */
.icon-trash:before { content: '\e838'; } /* '' */
.icon-trash-empty:before { content: '\e839'; } /* '' */
.icon-comment:before { content: '\e83a'; } /* '' */
.icon-chat:before { content: '\e83b'; } /* '' */
.icon-comment-empty:before { content: '\e83c'; } /* '' */
.icon-code:before { content: '\e83d'; } /* '' */
.icon-upload-cloud:before { content: '\e83e'; } /* '' */
.icon-download-cloud:before { content: '\e83f'; } /* '' */
.icon-thumbs-down-alt:before { content: '\e840'; } /* '' */
.icon-thumbs-up-alt:before { content: '\e841'; } /* '' */
.icon-thumbs-down:before { content: '\e842'; } /* '' */
.icon-thumbs-up:before { content: '\e843'; } /* '' */
.icon-calendar:before { content: '\e844'; } /* '' */
.icon-play:before { content: '\e845'; } /* '' */
.icon-stop:before { content: '\e846'; } /* '' */
.icon-pause:before { content: '\e847'; } /* '' */
.icon-to-end:before { content: '\e848'; } /* '' */
.icon-to-end-alt:before { content: '\e849'; } /* '' */
.icon-to-start:before { content: '\e84a'; } /* '' */
.icon-to-start-alt:before { content: '\e84b'; } /* '' */
.icon-fast-fw:before { content: '\e84c'; } /* '' */
.icon-fast-bw:before { content: '\e84d'; } /* '' */
.icon-eject:before { content: '\e84e'; } /* '' */
.icon-signal:before { content: '\e84f'; } /* '' */
.icon-wifi:before { content: '\e850'; } /* '' */
.icon-cloud:before { content: '\e851'; } /* '' */
.icon-flight:before { content: '\e852'; } /* '' */
.icon-paper-plane:before { content: '\e853'; } /* '' */
.icon-paper-plane-empty:before { content: '\e854'; } /* '' */
.icon-spin6:before { content: '\e855'; } /* '' */
.icon-user-plus:before { content: '\e856'; } /* '' */
.icon-video:before { content: '\e857'; } /* '' */
.icon-info-circled:before { content: '\e858'; } /* '' */
.icon-info:before { content: '\e859'; } /* '' */
.icon-pin:before { content: '\e85a'; } /* '' */
.icon-gamepad:before { content: '\e85b'; } /* '' */
.icon-user-secret:before { content: '\e85c'; } /* '' */